:root {
	--bg: #dcdde1;
	--color-icon: #000;
	--social-icon1: #fbad50;
	--social-icon2: #1da1f2;
	--social-icon3: #0077b5;
	--social-icon4: #171515;
	--social-icon5: #0077b5;
}

* {
	margin: 0;
	padding: 0;
}

.icon-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.icon-item {
	list-style: none;
}

.icon-link {
	display: flex;
	font-size: 2rem;
	text-decoration: none;
	color: var(--color-icon);
	width: 3.5rem;
	height: 3.5rem;
	transition: .5s linear;
	position: relative;
	z-index: 1;
	margin: auto;
}

.icon-link:hover {
	color: #fff;
}

.icon-link i {
	margin: auto;
}

.icon-link::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 3.5rem;
	height: 3.5rem;
	background: #000;
	border-radius: 50%;
	z-index: -1;
	transform: scale(0);
	transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
}

.icon-link:hover::before {
	transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
	background: var(--social-icon1);
}

.icon-item:nth-child(2) a:hover:before {
	background: var(--social-icon2);
}

.icon-item:nth-child(3) a:hover:before {
	background: var(--social-icon3);
}

.icon-item:nth-child(4) a:hover:before {
	background: var(--social-icon4);
}

.icon-item:nth-child(5) a:hover:before {
	background: var(--social-icon5);
}
